- name: "Build EC2 instances and route 53 records"
  amazon.aws.ec2_instance:
    name: "{{ item }}-{{ env }}"
    image_id: "{{ image_id }}"
    instance_type: "{{ instance_type }}"
    region: "{{ region }}"
    security_groups: "{{ sg_id }}"
    tags: "{{ common_tags }}"
  loop: "{{ instances }}"
  register: ec2_output
  when: action == "create"

- name: "Print the EC2 Instance Output"
  ansible.builtin.debug:
    var: ec2_output
