- name: "Build EC2 instances and route 53 records"
  amazon.aws.ec2_instance:
    name: "{{ item }}-{{ env }}"
    image_id: "{{ image_id }}"
    instance_type: "{{ instance_type }}"
    region: "{{ region }}"
    security_group: "{{ sg_id }}"
    tags: "{{ common_tags }}"
  loop: "{{ instances }}"
  register: ec2_output
  when: action == "create"
